<a href="/feed.xml"><i class="svg-icon rss"></i></a>
<a href="mailto:Razenpok@outlook.com"><i class="svg-icon email"></i></a>
<a href="https://t.me/Razenpok"><i class="svg-icon telegram"></i></a>
<a href="https://www.facebook.com/Razenpok"><i class="svg-icon facebook"></i></a>
<a href="https://github.com/Razenpok"><i class="svg-icon github"></i></a>
<a href="https://www.linkedin.com/in/Razenpok"><i class="svg-icon linkedin"></i></a>
<a href="http://stackoverflow.com/users/4254717/Razenpok"><i class="svg-icon stackoverflow"></i></a>
<a href="http://steamcommunity.com/id/Razenpok"><i class="svg-icon steam"></i></a>