<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />

    {% include analytics/ai.html %}
    {% include analytics/ga.html %}

</head>

<body>
<div class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <div class="site-header">
                <a href="/" class="site-avatar"><img src="/images/Avatar.webp" /></a>

                <div class="site-info">
                    <h1 class="site-name"><a href="/">{{ site.name }}</a></h1>
                    <p class="site-description">{{ site.description }}</p>
                </div>
            </div>

            <div class="svg-icons">
                {% include svg-icons.html %}
            </div>
            <nav>
                <a href="/about">About</a>
                <a href="/games">Games</a>
            </nav>
        </header>
    </div>
</div>

<div id="main" role="main" class="container">
    {{ content }}
</div>
</body>
</html>
